body {
  margin:0;
  overflow-x:hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

/* controls the header banner part of the page */
div.container{
  background: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)),url("../images/laptopCover.jpg");
  height: 40em;
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
  padding-bottom:220px;
}

nav{
  text-align:right;

}
#intro{
float:left;
padding-left:10px;
margin-top:10px;
font-size: 30px;
}
ul,li{
  list-style: none;
  display:inline-block;
  padding:10px 25px ;
  margin:3px;
  font-family:sans-serif,verdana,Tahoma; 
 }

  a{
    text-decoration:none;
    color:black;
    font-size:17px; 
    padding:10px; 
    border-radius: 2px; 
  }
  
  a:hover { 
    background-color:rgba(63, 112, 218, 0.993);
    color:white;
  }
/* controls the text content in the header banner */
  section.top{
    text-align: center;
    padding-top:50px;
  }

  h1{
    font-size:50px;
    padding-top:30px;
    font-family: 'Courier New', Courier, monospace !important;
  }

  p.top{
    font-size:22px;
  }

button.projects{
  color:white;
  background:rgba(63, 112, 218, 0.993);
  padding:15px;
  border-radius:30px;
  cursor: pointer;
  }

  
/* controls the first image after the banner on the page */
    .responsive {
      width:100%;
      max-width: 700px;
      height: auto;
    }

  /* controls the grid part of the page, dividing the div to contain image on the side */
  .grid-parent{
    display:grid;
    height:400px;
   
  }
  .side-by-side{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:0;
    margin:0;
    background-color:white;
}
@media(max-width:576px){
  .side-by-side{
    display:flex;
    flex-direction:column;
  }
}

  #grid-left{
    padding:60px 67px;
  }

  /* controls the text in the center of the page */
 #middle{
   background-color:whitesmoke;
   display:inline-block;
   width: 100%;
   text-align:center;
   padding:20px;
 }

 /* controls the parent container for the six cards on the page */
section.cards{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows:repeat(1,1fr);
  padding:20px;

}

article{
  display:grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(1, 1fr);

  
}
/* controls the 6 cards on the page */
article.inner-box{
  display:grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap:10px;
  margin:20px;
  background-color: white;
  box-shadow: 0 0px 10px 2px #ddd; 
}

/* applies formatting to the 6 cards */
.card-side{
 padding-top:2em;
  width: 6em;
}

/* controls the banner at center of the Featured projects div*/
.center-page{
  background:url("https://res.cloudinary.com/seamanb2k/image/upload/v1562247320/branding.jpg");
  height: 20em;
  background-size:cover;
}

.center-text{
  text-align: center;
  background: none;
  color:black;
}

/* controls the footer part of the page */
.footer{
  background:rgba(63, 112, 218, 0.993);
  height:60px;
  width:100%;
  text-align:center;
  color:white;
  position:relative;
  bottom:0;
  padding:10px;
}
@media(max-width:576px){
  .footer{
    position:relative;
    width:100%;
    height:60px;
    clear:both;

  
    }

}