body {
  margin:0;
  overflow-x:hidden;
}

header{
  height:70px;
  background:gray;
  
  }

ul,li{
  list-style: none;
  display:inline-block;
  padding-right:30px;
  margin:10px;
  font-family:sans-serif,verdana,Tahoma;
  }


nav{
  text-align:right;
  overflow:hidden;
}

a{
  text-decoration:none;
  color:white;
}

img.top{
  background-size:cover;
  height: 250px;
  width:100%;
}

H1.center{
  text-align:center;
  margin:30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

img{
  height: 300px;
  width:350px;
  
}

#left{
  float:left;
  width:50%;
  margin:50px;

}
#right{
  float:right;
  position:relative;
  margin:50px;
}

footer{
  background:gray;
  height:50px;
  width:100%;
  text-align:center;
  color:white;
  position: relative;
  clear:both;
  padding:10px;
}
